

/* Style for Radar chart */
#radar-container {
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}

#radar-chart {
    position: absolute;
    /* top: 50px; */
    left: 100px;
}

#testrow {
    /* display: flex; */
    /* justify-content: left; */
}

svg {
    /* display: block; */
}